 @import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Sacramento&display=swap');
 @import url('https://fonts.cdnfonts.com/css/miama');

*{
    margin: 0;
    padding: 0;
    font-family: Inter;
    box-sizing: border-box;
}
body{
    background-color: rgb(0, 0, 0);
}
.btn{
    border-radius: 2.5rem;
    background: #ed563f;
    color: white;
    font-size: 1rem;
    font-weight: 600;   
    padding: 0.6rem 1.5rem;
    border: none; 
}
.btn-1{
    border-radius: 2.5rem;
    background: #ed563f;
    color: white;
    font-size: 1.2rem;
    font-weight: 600;   
    padding: 0.8rem 2.0rem;
    border: none;
}
.bold{
    font-weight: 900;   
}
.btn-transparent{
    border: 1px solid white;
    border-radius: 2.9rem;
    background: none;
    margin-left: 0.6rem;    
}
/* navbar and banner section */
.nav-banner{
    background-color: rgba(97, 97, 97, 0.167); 
    background: linear-gradient(to bottom, 
    rgba(53, 52, 52, 0.3) 0%, 
    rgba(53, 52, 52, 0.6) 25%, 
    rgba(53, 52, 52, 0.7) 50%, 
    rgba(53, 52, 52, 0.4) 75%, 
    rgba(0, 0, 0, 0.3) 100%); 
    margin-bottom: 5rem;  
}
.navbar{
    display: flex;
    justify-content: space-between;
    width: 85.4%;
    margin: 0 auto;
    padding-top: 2rem;
    align-items: center;
}
.navbar-left-h1{
    color: rgb(230, 83, 60);
    font-style: italic;
    font-size: 2.4rem;
    font-weight: 800;
}
.navbar-right{
    border: 1px solid rgba(255, 255, 255, 0.150);
    border-radius: 2.5rem;
    padding: .5rem 1.4rem .5rem .5rem;    
}
.navbar-right > li{
    display: flex;
    gap: 4rem;
    align-items: center;
    color: white;
    font-size: 1.1rem;
    font-weight: 400;    
}
.nav-burger{
    display: none;
}
.banner{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 auto;
    margin-top: 2rem;
    width: 85.4%;
    gap: 4rem;  
}
.banner-left{
    place-content: center;
}
.span-italic{
    /* font-family: "Sacramento", cursive; */
    font-family: 'Miama', sans-serif;
    font-weight: 400;
}
.banner-left-h1{
    color: white;
    font-family: Inter;
    font-size: 5rem;
    font-weight: 900;
}
.banner-left-p{
    color: #f9f8f871;
    font-family: Inter;
    font-size: 1rem;
    font-weight: 400;
    margin: 2rem 0rem;
}
.banner-right{
    display: flex;
    align-items: end;  
}
.banner-right > img{
    width: 80%;
    height: 100%;
    margin-left: 20%;
}
.btn-vdo1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    backdrop-filter: blur(4px);
    background-color: rgba(48, 48, 48, 0.54) ;
    padding: 1.7rem 1.7rem;
    margin-bottom: 7%;
    left: 52%;
    position: absolute;
    border-radius: .7rem;
    gap: 1.2rem;  
    border: none; 
}
.ball{
    background: #e8523c;
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
}
.btn-vdo1-txt1{
    color: white;
    font-size: 1.5rem;
    font-weight: 900;
}
.btn-vdo1-txt2{
    color: rgba(239, 237, 232, 0.65);
    font-size: 1rem;
    font-weight: 400;
}
.btn-vdo2{
    align-items: center;
    justify-content: space-between;
    backdrop-filter: blur(4px);
    background-color: rgba(48, 48, 48, 0.54) ;
    padding: 1.2rem 1.7rem;
    margin-bottom: 32%;
    right: 4%;
    position: absolute;
    border-radius: .7rem;
    border: none;
}
.btn-vdo2-txt1{
    color: white;
    font-size: 2.5rem;
    font-weight: 900;
}    
.btn-vdo2-txt2{
    color: #ffffffa6;
    font-size: 0.9rem;
    font-weight: 400;
}
/* change your habits section */
.change-habits{
    width: 85.4%;
    margin: 2rem auto;  
    margin-bottom: 6rem;     
}
.change-habits-div1{
    width: 60%;
    text-align: left;
    margin: 0 auto;   
}
.change-habits-div1-h1{
    color: white;
    font-size: 3rem;
    font-weight: 900;
}
.change-habits-div2{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
}
.change-habits-div2-card{
    text-align: center;

}
.change-habits-div2-card > img{
    border-radius: 50%;
}
.change-habits-div2-card-h3{
    color: white;
    font-size: 1.2rem;
    font-weight: 600;
    margin: 2rem 0rem .7rem 0rem;
}
.change-habits-div2-card-p{
    color: #ffffffa5;
    font-size: 0.9rem;
    font-weight: 400;
    
}
/* run extra mile section  */
.run-extra-mile{
    width: 85.4%;
    margin: 2rem auto;   
    border-radius: 1rem;
    background: #202020de;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.4rem;
    place-items: center;
    margin-bottom: 6rem;
}
.run-extra-mile-left{
   padding: 2.5rem ;
}
.run-extra-mile-right-img{
    max-width: 22rem;
    max-height: 19rem;
    border-radius: 1rem;   
}
.run-extra-mile-right-img > img{
    height: 100%;
    width: 100%;
    border-radius: 1rem;
}
/* trainings-exercises section */
.trainings-exercises{
    width: 85.4%;
    margin: 2rem auto; 
    margin-bottom: 6rem;
}
.trainings-exercises-txt{
    width: 68%;
}
.trainings-exercises-img-div1{
    display: grid;
    grid-template-columns: 0.7fr 1.4fr 0.8fr;    
}
.trainings-exercises-img-div1-img1{
    position: relative;
    background: linear-gradient(hsl(169, 100%, 51%), hsl(169, 100%, 51%));

}
.trainings-exercises-img-div1-img2{
    position: relative;
    background: linear-gradient(hsla(0, 100%, 50%, 0.7), hsla(0, 100%, 50%, 0.7));
}
.trainings-exercises-img-div1-img3{
    position: relative;
    background: linear-gradient(hsla(0, 0%, 0%, 0.7), hsla(0, 0%, 0%, 0.7));
}
.trainings-exercises-img-div1-img4{
    position: relative;
    background: linear-gradient(hsla(0, 0%, 0%, 0.7), hsla(0, 0%, 0%, 0.7));
}
.trainings-exercises-img-div1-img5{
    position: relative;
    background: linear-gradient(hsla(104, 100%, 50%, 0.7), hsla(104, 100%, 50%, 0.7));
}
.trainings-exercises-img-div1-img6{
    position: relative;
    background: linear-gradient(hsla(223, 100%, 50%, 0.7), hsla(223, 100%, 50%, 0.7));
}
.trainings-exercises-img-div1-inner-txt1{
    position: absolute;
    bottom: 10%;
    left: 10%;
    font-size: 1rem;
    font-weight: 500;
}
.trainings-exercises-img-div1-inner-txt2{
    position: absolute;
    bottom: 10%;
    left: 10%;
    font-size: 1rem;
    font-weight: 500;
    color: white;
}
.trainings-exercises-img-div1-inner-txt3{
    position: absolute;
    top: 10%;
    left: 10%;
    font-size: 1rem;
    font-weight: 500;
    color: white;
}
.trainings-exercises-img-div1-inner-txt4{
    position: absolute;
    top: 10%;
    right: 10%;
    font-size: 1rem;
    font-weight: 500;
    color: white;
}
.trainings-exercises-img-div1 > div > img , .trainings-exercises-img-div2 > div > img{
    height: 100%;
    width: 100%;
    filter: brightness(70%) opacity(.8);
}
.trainings-exercises-img-div2{
    display: grid;
    grid-template-columns: 1.2fr 0.8fr 1fr;    
}
/* BMI calculator section */
.bmi-calculator-chart{
    margin: 2rem auto;  
    margin-bottom: 6rem;
    background: rgb(34, 34, 34);    
}
.bmi-calculator-chart-inner{
    width: 85.4%;
    margin: 0rem auto; 
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4rem;
    place-items: center;
}
.bmi-calculator-chart-left-h3{
    color: rgb(255, 255, 255);
    font-size: 1.8rem;
    font-weight: 900;
    margin-bottom: 2rem;
}
.bmi-calculator-chart-left{
    width: 60%;
    padding: 3rem 0rem;
}
.bmi-calculator-chart-left > table, th, td {
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-collapse: collapse;    
}
.bmi-calculator-chart-left > table{
    width: 100%;
}
.table-head{
    color: rgb(255, 255, 255);
    font-size: 1rem;
    font-weight: 500;
    text-align: left;
    padding: 1rem 1.2rem;
}
.table-data{
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.9rem;
    font-weight: 400;
    padding: 0.8rem 1.2rem;
}
.bmi-calculator-chart-right{
    width: 130%;
    padding: 3rem;
}
.form-input{
    border-radius: .5rem;
    background: #ffffff17;
    width: 46%;
    padding: 0.7rem 1.2rem;
    border: none;
    margin: 0.3rem;
    font-size: 1rem;
}
.form-input2{
    width: 94%;
    color: #ffffff52;
}
.bmi-calculator-chart-right > button{
    margin-top: 2rem;
}
/* Meet Our Team section  */
.meet-our-team{
    width: 85.4%;
    margin: 2rem auto;  
    margin-bottom: 6rem;     
}
.meet-team-div1{
    width: 60%;
    text-align: center;
    margin: 0 auto;   
}
.meet-team-div2-bg{
    border-radius: 1rem;
    background: rgba(255, 255, 255, 0.1);
    padding: 1rem 1rem 0rem 1rem;
}
.meet-team-div2-row{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
}
.meet-team-div2-row-img1 > img { 
    height: 95%;
    width: 100%;
    border-radius: 1rem;
    filter: brightness(80%);
    position: relative;
}
.meet-team-div2-row-img1-txt1{
    position: absolute;
    color: #f9f9f9e0;
    font-size: 1.5rem;
    font-weight: 800;
    margin-top: -4.3rem;
    margin-left: 0.8rem;
}
.meet-team-div2-row-img1-txt2{
    position: absolute;
    color: #f9f9f97b;
    margin-top: -2.3rem;
    margin-left: 0.8rem;
}
/* footer section */
#footer{
    background: #ffffff22;
    margin: 0rem auto;  
}
.footer-div{
    width: 85.4%;
    margin: 0rem auto; 
    padding-top: 4rem;    
    padding-bottom: 2rem;        
}
.footer-div-first{
    display: grid;
    grid-template-columns: 1.5fr 1fr 1fr;
    gap: 4rem;
    place-items: center;
}
.footer-div-first-left-h1{
    color: #ea533bf7;
    font-size: 4rem;
    font-weight: 800;
    font-style: italic;
    margin-bottom: 1.2rem;
}
.footer-div-first-left-p{
    color: #ffffff86;
    font-size: 1rem;
    font-weight: 400;
}
.footer-div-first-middle-h2{
    color: white;
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 2rem;
}
.footer-div-first-middle-list{
    display: flex;
    flex-direction: column;
    color: #ffffff88;
    font-size: 1rem;
    font-weight: 400;
}
.footer-div-first-middle-list > ul{
    text-decoration: none;
    margin-bottom: 1.2rem;
}
.hr{
    opacity: 20%;
    margin: 4rem 0rem 2rem 0rem;
}
.footer-div-last-p{
    color: #ffffff7e;
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
}
/* stay-connected section */
.stay-connected{
    padding: 4rem 0rem; 
    background: rgba(34, 34, 34, 0.437);    
}
.stay-connected-h1{
    color: white;
    font-size: 3rem;
    font-weight: 900;
    text-align: center;
    margin-bottom: 1rem;
}
.stay-connected-inner{
    width: 85.4%;
    margin: 0rem auto; 
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4rem;
    place-items: center;
    padding: 2.5rem;
}
.stay-connected-left > iframe{
    height: 22rem ;
    width: 29rem;
    border: none;
    border-radius: .5rem;
    margin-top: 1rem;
}
.stay-connected-right{    
    text-align: center;
}
.stay-connected-right > a > img {
    height: 60%;
    width: 60%;
    margin-bottom: 1.5rem;
}
/* Success story section */
.success-story-div1{
    width: 60%;
    text-align: right;
    margin-left: auto;
}
.success-story-div2{
    grid-template-columns: repeat(3, 1fr);
}
.card-bg{
    background: rgba(34, 34, 34, 0.616);    
}
.success-story-div2-1{
    width: 80%;
    margin: 2rem auto;
}
.success-story-div2-2 > img {
    border-radius: 50%;
    width: 20%;
    height: 20%;
}
.blockquote::before{
    font-family: 'Franklin Gothic Medium';
    content: '\201c';
    color: rgba(255, 255, 255, 0.666);
    font-size: 3rem;
}
.blockquote > p{
    color: rgba(255, 255, 255, 0.839);

}
/* media screen for small device  */
@media only screen and (max-width: 576px) {
    .navbar-right{
        border: none;
    }
    .navbar-right > li {
        display: none;
    }    
    .nav-burger{
        display: block;
        font-size: 1.5rem;
        color: rgba(255, 255, 255, 0.825);
    }
    .banner{
        grid-template-columns: 1fr;
    }
    .banner-left{
        width: 100%;
    }
    .banner-left-h1{
        font-size: 2.7rem;
        width: 80%;
    }
    .banner-left-p{        
        width: 95%;
    }
    .btn-1{     
        font-size: 1rem;
        padding: 0.8rem 1.2rem;
    }
    .btn-transparent{
        margin-left: 0.4rem;    
    }
    .btn-vdo1{
        text-align: left;
        padding: 1.3rem 1.3rem;
        left: 12%;
        margin-bottom: 20%;
        gap: 1rem;  
    }
    .banner-right > img{
        width: 100%;
        margin-left: 0%;
    }
    .btn-vdo2{
        text-align: left;
        padding: 1rem 1.3rem;
        right:10%;
        margin-bottom: 76%;        
    }
    .change-habits-div1{
        width: 96%;
        text-align: center;    
    }
    .change-habits-div1-h1{
        font-size: 2.2rem;
        font-weight: 900;
    }
    .change-habits-div2{
        grid-template-columns:  1fr;
        gap: 3rem;
    }
    .change-habits-div2-card-h3{
        font-size: 1.5rem;
        margin-top: 0.5rem;
    }
    .change-habits-div2-card-p{
        font-size: 1rem; 
        margin-bottom: 1rem;      
    }
    .run-extra-mile{
        grid-template-columns: 1fr;
        gap: 2rem;
        place-items: center;
    }
    .btn-full{
        width: 100%;
        padding: 1.3rem 0rem;
        font-size: 1.5rem;
    }
    .run-extra-mile-right-img{
        margin-bottom: 2rem;  
        text-align: center;
    }
    .run-extra-mile-right-img > img{
        height: 70%;
        width: 85%;
    }
    .trainings-exercises-img-div1{
        grid-template-columns: 0.6fr 0.9fr;  
    } 
    .img-hidden{
        display: none;
    }
    .trainings-exercises-img-div2{
        grid-template-columns: 0.9fr 0.6fr;    
    }
    .trainings-exercises-txt{
        width: 90%;
    }
    .bmi-left{
        text-align: left;
    }
    .bmi-calculator-chart-inner{
        grid-template-columns: 1fr;
        gap: 0rem;
    }
    .bmi-calculator-chart-left{
        width: 100%;
        padding-top: 2rem;        
    }
    .bmi-calculator-chart-right{
        width: 100%;
        padding: 0;
        padding-bottom: 2rem;
    }
    .success-story-div1{
        width: 100%;
    } 
    .success-story-div1 > h1{
        font-size: 2rem;
        font-weight: 900;
    }   
    .meet-team-div1{
        width: 90%;
    }        
    .meet-team-div2-row{
        grid-template-columns: 1fr;
    }      
    .stay-connected-inner{
        grid-template-columns: 1fr;
        gap: 1rem;
        padding: .1rem;
        text-align: center;
        padding-top: 1rem;
    }
    .stay-connected-h1{
        font-size: 2rem;
    }
    .stay-connected-left > h4 {
        font-size: 1.6rem;
    }
    .stay-connected-left > iframe{
        height: 18rem ;
        width: 19rem;
        padding-bottom: 2rem;
    }
    .footer-div-first{
        grid-template-columns: 1fr;
        gap: 2rem;
        place-items: start;
    }    
}
/* media screen for medium device  */
@media only screen and (min-width: 577px) and (max-width: 991px) {
    .navbar-right > li{
        gap: 1rem;
        font-size: 1rem;
    }
    .banner{
        grid-template-columns: 1fr;
    }
    .banner-left-h1{
        font-size: 4rem;
        width: 80%;
    }
    .banner-left-p{        
        width: 85%;
    }
    .btn-vdo1{
        text-align: left;
        padding: 1.3rem 1.3rem;
        left: 12%;
        margin-bottom: 30%;
        gap: 1rem;  
    }
    .banner-right > img{
        width: 100%;
        margin-left: 0%;
    }
    .btn-vdo2{
        text-align: left;
        padding: 1rem 1.3rem;
        right:10%;
        margin-bottom: 90%;        
    }
    .change-habits-div1{
        width: 86%;
        text-align: center;    
    }
    .change-habits-div1-h1{
        font-size: 2.2rem;
        font-weight: 900;
    }
    .change-habits-div2{
        grid-template-columns:  1fr 1fr;
        gap: 3rem;
    }
    .change-habits-div2-card-h3{
        font-size: 1.5rem;
        margin-top: 0.5rem;
    }
    .change-habits-div2-card-p{
        font-size: 1rem; 
        margin-bottom: 1rem;      
    }
    .run-extra-mile-left > p , .trainings-exercises-txt > p{
        width: 100%;
    }
    .run-extra-mile-right-img {
        margin-right: 3rem;
    }
    .run-extra-mile-right-img > img{
        height: 300px;
        width: 250px;        
    }
    .trainings-exercises-txt{
      width: 95%;
   }
    .bmi-left{
      text-align: left;
    }
    .bmi-calculator-chart-inner{
        grid-template-columns: 1fr;
        gap: 0rem;
    }
    .bmi-calculator-chart-left{
        width: 100%;
        padding-top: 2rem;        
    }
    .bmi-calculator-chart-right{
        width: 100%;
        padding: 0;
        padding-bottom: 2rem;
    }
    .success-story-div1 , .success-story-div1 > p{
        width: 100%;
    } 
    .success-story-div2{
        grid-template-columns: 1fr;
    }
    .meet-team-div1{
        width: 80%;
    } 
    .stay-connected-inner{
        grid-template-columns: 1fr;
        text-align: center;
    }  
    .stay-connected-left > p , .stay-connected-right > p {
        width: 100%;
    }
    .stay-connected-right > a > img {
        height: 100%;
        width: 100%;
    }
    .stay-connected-left > iframe{       
        padding-bottom: 2rem;
    }      
    .footer-div-first{
        display: flex;
        flex-wrap: wrap;
        gap: 5rem;
    }
}
/* media screen for large device  */
@media only screen and (min-width: 992px){  
    .btn-transparent{
        margin-left: 1.4rem;    
    }
    .banner-left{
        width: 110%;
    }
    .run-extra-mile-right-img > img{
        object-fit: none;
        object-position: 65% 28%;
    }
}